.explore {
  width: 100%;
  padding: 0 115px;
  text-align: center;
}
.slider {
  text-align: center;
}
.explore-title {
  margin-top: 12px;
  color: #4285f4;
  text-align: center;
}
.explore-component {
  margin-top: 100px;
  min-width: 256px;
  max-width: 25%;
  cursor: pointer;
  text-decoration: none;
}
.slider a {
  color: black !important;
  text-decoration: none !important;
}
.slick-arrow {
  z-index: 10;
  color: gray;
}
.slick-prev:before {
  color: gray;
}
.slick-next:before {
  color: gray;
}
.home-page-child {
  width: 100%;
  padding: 0 115px;
  display: flex;
  gap: 20px;
}
.tag-vn {
  width: 80%;
}
.tag-title {
  margin-top: 80px;
  margin-bottom: -80px;
}
.favorited-brands {
  width: 20%;
}
.slider-child {
  max-height: 450px;
}