.explore {
  width: 100%;
  text-align: center;
}
.slider {
  text-align: center;
}
.explore-title {
  margin-top: 12px;
  color: #4285f4;
  text-align: center;
}
.explore-component {
  min-height: 400px;
  margin-top: 100px;
  min-width: 256px;
  max-width: 25%;
  cursor: pointer;
  text-decoration: none;
}
.explore-component img {
  min-height: 400px;
  width: 100%;
  object-fit: cover;
}
.slider a {
  color: black !important;
  text-decoration: none !important;
}
.slick-arrow {
  z-index: 10;
  color: gray;
}
.slick-prev:before {
  color: gray;
}
.slick-next:before {
  color: gray;
}
.home-page-child {
  width: 100%;
  padding: 0 115px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.tag-vn {
  width: 80%;
}
.tag-title {
  margin-top: 80px;
  margin-bottom: -80px;
}
.favorited-brands {
  margin-top: 100px;
  min-width: 200px;
  max-width: 200px;
  position: relative;
}
.favorited-brands h3 {
  text-align: end;
}
.slider-child {
  max-height: 450px;
}
.favorited-brands a {
  display: block;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.producer-component img {
  display: block;
  width: 200px;
  max-width: 200px;
  object-fit: cover;
}